.forecast-day {
  margin-top: 20px;
}

.forecast-day__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  // background-color: #fff;
}

.forecast-day__item {
  padding: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  background: #fff
    linear-gradient(
      0deg,
      rgba(255, 240, 4, 0.5) 0%,
      rgba(0, 158, 252, 0.5) 100%
    );
  box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.forecast-day__item:is(:hover, :focus) {
  transform: scale(1.01);
}

.forecast-day__head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//===============================================
.forecast-day__date-wrapper {
  display: flex;
  // flex-direction: column;
  gap: 8px;
}

.forecast-day__date {
  font-size: 26px;
  font-weight: 600;
}

.forecast-day__weekday {
  font-size: 26px;
  font-weight: 600;
}

.forecast-day__month {
  font-size: 20px;
}

//===============================================
.forecast-day__temp-wrapper {
  margin-left: auto;
}

.forecast-day__icon {
  width: 48px;
  height: 48px;
}

.forecast-day__temp {
  text-align: end;
  font-size: 18px;
}

//===============================================
.forecast-day__icon-wrapper {
  width: 70px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.forecast-day__icon-text {
  text-align: end;
}

//=========================================
.spoiler {
  cursor: pointer;
  // outline: 1px solid red;
  border-radius: 8px;
  padding: 12px;
  height: 100%;
}

.spoiler-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-day__spoiler-btn {
  font-size: 24px;
  font-weight: 600;
  color: chocolate;
  transition: transform 0.5s ease-in-out;
}

.forecast-day__spoiler-btn.down {
  transform: rotateZ(90deg);
}

.forecast-day__spoiler-content {
  width: 100%;
  display: none;
}

.forecast-day__spoiler-content.show {
  display: block;
}
