<div class="container">
  <ul class="forecast-day__list">
    <li class="forecast-day__item">
      <p class="forecast-day__date">06.06.2024</p>
      <div class="forecast-day__temp-wrapper">
        <p class="forecast-day__temp-max">Max: 21.1°C</p>
        <p class="forecast-day__temp-min">Min: 8.6°C</p>
      </div>
      <img
        src="https://cdn.weatherapi.com/weather/64x64/day/113.png"
        alt="Сонячно"
        class="forecast-day__icon"
      />
    </li>
    <li class="forecast-day__item">
      <p class="forecast-day__date">07.06.2024</p>
      <div class="forecast-day__temp-wrapper">
        <p class="forecast-day__temp-max">Max: 21.1°C</p>
        <p class="forecast-day__temp-min">Min: 8.6°C</p>
      </div>
      <img
        src="https://cdn.weatherapi.com/weather/64x64/day/113.png"
        alt="Сонячно"
        class="forecast-day__icon"
      />
    </li>
    <li class="forecast-day__item">
      <p class="forecast-day__date">08.06.2024</p>
      <div class="forecast-day__temp-wrapper">
        <p class="forecast-day__temp-max">Max: 21.1°C</p>
        <p class="forecast-day__temp-min">Min: 8.6°C</p>
      </div>
      <img
        src="https://cdn.weatherapi.com/weather/64x64/day/113.png"
        alt="Сонячно"
        class="forecast-day__icon"
      />
    </li>
  </ul>
</div>
